@charset "UTF-8";

/* Fonte Inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/* Configuração Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: var(--primary-font);
}

:root {
  --primary-font: "Inter", sans-serif;

  --primary-color-1: #6c63ff;
  --primary-color-2: #4f46eb;
  --primary-color-3: #bbb;
  --primary-color-4: #882dc5;
  --primary-color-5: #333333;
  --primary-color-6: #1d1b1b;

  --alert-color: #c43939;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

input[type="radio"],
input[type="checkbox"],
select {
  cursor: pointer;
}

body {
  font-size: 1.8rem;
}
