@media (max-width: 991px) {
  html {
    font-size: 58%;
  }

  /* Conteúdo Principal */
  .illustration {
    display: none;
  }

  /* Rodapé */
  .container-slogan-and-informations {
    gap: 3.9rem;
  }

  .container-informations-footer {
    flex-flow: column;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 55%;
  }

  /* Menu de Navegação */
  nav {
    flex-flow: column;
    align-items: stretch;
    gap: 2.3rem;
  }

  .container-logo-and-btn-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .btn-mobile-menu {
    display: inline;
  }

  .container-navigation-items {
    display: none;
  }

  .navigation-item {
    text-transform: uppercase;
  }

  .open-navigation {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-bottom: 2rem;
  }
}

@media (max-width: 991px) and (orientation: landscape) {
  html {
    font-size: 50%;
  }
}
