@media (max-width: 480px) {
  html {
    font-size: 50%;
  }

  /* Conteúdo Principal */
  .main-content h1 {
    padding: 2.5rem 2rem 2rem 2.5rem;
  }

  br {
    display: none;
  }

  .container-main-content {
    padding: 0;
  }

  .newsletter-form {
    box-shadow: none;
    padding: 3rem 1rem;
  }

  /* Rodapé */
  .container-footer {
    padding: 4.88rem 2.5rem;
  }

  .container-slogan-and-informations {
    flex-flow: column;
  }

  .container-informations-footer {
    margin-top: 3.12rem;
    flex-flow: column;
    gap: 4.88rem;
  }
}

@media (min-width: 390px) {
  /* Conteúdo Principal */
  .newsletter-form {
    box-shadow: 0rem 0rem 1rem 0rem var(--primary-color-3);
    padding: 4rem 3rem;
  }
}
