@media (max-width: 480px) {
  /* Conteúdo Principal */
  .main-content h1 {
    padding: 3rem;
  }

  br {
    display: none;
  }

  .container-main-content {
    padding: 0;
  }

  .newsletter-form {
    box-shadow: none;
    padding: 3rem 1rem;
  }

  .input-name,
  .input-email {
    width: 28rem;
  }

  .feedback-modal {
    padding: 2rem;
  }

  /* Rodapé */
  .container-footer {
    padding: 4.88rem 2.5rem;
  }

  .container-slogan-and-informations {
    flex-flow: column;
  }

  .container-informations-footer {
    margin-top: 3.12rem;
    flex-flow: column;
    gap: 4.88rem;
  }
}
