/* Menu de Navegação */
nav {
  background-color: var(--primary-color-1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 4.88rem;
  box-shadow: 0 0 2.5rem var(--primary-color-3);
}

.logo-navigation {
  width: 12rem;
  cursor: pointer;
}

.container-navigation-items {
  display: flex;
  gap: 3.9rem;
}

.navigation-item {
  color: white;
  font-size: 1.8rem;
  position: relative;
}

.navigation-item:hover::before {
  content: "";
  position: absolute;
  top: 2.8rem;
  width: 100%;
  border-bottom: 0.3rem solid white;
  border-radius: 0.1rem;
}

/* Conteúdo Principal */
.container-main-content {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  padding: 10rem 2rem;
}

.illustration {
  width: 52.4rem;
}

.main-content {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 2.5rem;
}

.main-content h1 {
  font-size: 4rem;
  line-height: 1.4;
  color: var(--primary-color-1);
}

.newsletter-form {
  display: flex;
  flex-flow: column;
  gap: 3.9rem;
  padding: 4rem 3rem;
  border-radius: 1rem;
  box-shadow: 0rem 0rem 1rem 0rem var(--primary-color-3);
  color: var(--primary-color-5);
}

.newsletter-form h2 {
  font-size: 2.76rem;
  font-weight: 500;
  border-radius: 0.3rem;
  border-left: 0.3rem solid var(--primary-color-4);
  padding-left: 1rem;
}

.form-group {
  display: flex;
  flex-flow: column;
  gap: 1rem;
}

.input-name,
.input-email {
  width: 33rem;
  outline: none;
  padding: 0.8rem;
  font-size: 2rem;
  border-left: none;
  border-right: none;
  border-top: none;
}

.error-message {
  font-size: 1.5rem;
  color: var(--alert-color);
  text-transform: uppercase;
  display: none;
}

.checkbox-group {
  display: flex;
  gap: 0.8rem;
  font-size: 1.8rem;
}

input[type="checkbox"] {
  width: 1.6rem;
  cursor: pointer;
}

.btn-submit {
  align-self: center;
  cursor: pointer;
  transition: 0.2s;
  padding: 1rem 2rem;
  font-size: 2rem;
  border-radius: 1rem;
  border: none;
  color: white;
  background-image: linear-gradient(
    to bottom,
    var(--primary-color-1),
    var(--primary-color-2)
  );
}

.btn-submit:hover {
  box-shadow: 0rem 0rem 2rem 4px var(--primary-color-3);
}

.feedback-modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem 7.63rem;
  border: none;
  border-radius: 1.2rem;
  color: var(--primary-color-2);
  opacity: 0;
  transition: opacity 0.9s, display 0.9s;
  box-shadow: 0 0 0.8rem var(--primary-color-3);
}

.feedback-modal[open] {
  opacity: 1;
}

.feedback-modal::backdrop {
  backdrop-filter: blur(0.8rem);
}

@starting-style {
  .feedback-modal[open] {
    opacity: 0;
  }
}

.success-icon {
  width: 13rem;
}

.modal-group {
  text-align: center;
  font-size: 2.3rem;
}

.modal-group p {
  text-wrap: nowrap;
}

.modal-group:last-child {
  margin-top: 1.6rem;
}

#btn-close-modal {
  margin-top: 2.5rem;
  border-radius: 1rem;
  padding: 1rem 1.6rem;
  color: white;
  background-color: var(--primary-color-2);
  border: none;
  font-size: 1.92rem;
  cursor: pointer;
}

.close-modal {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

#secundary-btn-close-modal {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.close-modal-icon {
  width: 3rem;
}

/* Rodapé */
footer {
  margin-top: 5rem;
}

.container-footer {
  background-color: var(--primary-color-6);
  color: var(--primary-color-1);
  display: flex;
  flex-flow: column;
  gap: 6.1rem;
  padding: 4.88rem;
}

.container-slogan-and-informations {
  display: flex;
  gap: 2rem;
}

.container-slogan {
  flex: 50%;
  display: flex;
  flex-flow: column;
  gap: 2rem;
}

.logo-footer {
  width: 15rem;
}

.container-informations-footer {
  flex: 50%;
  display: flex;
  justify-content: center;
  gap: 6.1rem;
}

.container-informations-footer ul {
  display: flex;
  flex-flow: column;
  gap: 1.2rem;
}

.newsletter,
.contact,
.about-us {
  display: flex;
  flex-flow: column;
  gap: 1.6rem;
}

.newsletter li,
.about-us li {
  transition: 0.3s;
}

.newsletter li:hover,
.about-us li:hover {
  transform: translateX(1.2rem);
}

address {
  font-style: normal;
}

address li {
  display: flex;
  align-items: center;
  gap: 0.52rem;
}

.address-icon {
  width: 3rem;
}

.container-informations-footer a,
li {
  color: var(--primary-color-3);
}

.copyright {
  border-top: 0.1rem solid var(--primary-color-1);
}

.copyright p {
  padding-top: 2.5rem;
  text-align: center;
}
