@media (max-width: 480px) {
  html {
    font-size: 50%;
  }

  /* Menu de Navegação */
  nav {
    flex-flow: column;
    align-items: stretch;
    gap: 2.3rem;
  }

  .container-logo-and-btn-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .btn-mobile-menu {
    display: inline;
  }

  .container-navigation-items {
    display: none;
  }

  .navigation-item {
    text-transform: uppercase;
  }

  .open-navigation {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-bottom: 2rem;
  }

  /* Conteúdo Principal */
  .main-content h1 {
    padding: 2.5rem 2rem 2rem 2.5rem;
  }

  br {
    display: none;
  }

  .container-main-content {
    padding: 0;
  }

  .newsletter-form {
    box-shadow: none;
    padding: 3rem 1rem;
  }

  /* Rodapé */
  .container-footer {
    padding: 4.88rem 2.5rem;
  }

  .container-slogan-and-informations {
    flex-flow: column;
  }

  .container-informations-footer {
    margin-top: 3.12rem;
    flex-flow: column;
    gap: 4.88rem;
  }
}

@media (min-width: 390px) {
  /* Conteúdo Principal */
  .newsletter-form {
    box-shadow: 0rem 0rem 1rem 0rem var(--primary-color-3);
    padding: 4rem 3rem;
  }
}
